<% provide(:title, 'History of Anansesem City')%>

<h1>The History of Anansesem City</h1>

<p><%= link_to "Index of Events", events_path %></p>
<p><%= link_to "Index of Characters", characters_path %></p>
<p><%= link_to "Index of Locations", locations_path %></p>
<p><%= link_to "Interactive Timeline", interactive_charts_path %></p>
