// Place all the styles related to the InteractiveCharts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.axis {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}

svg {
	width: 80%;
	display: block;
	margin: 0 auto 0 auto;
}

#centered-button {
	text-align: center;
}